*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

/*Navbar*/
.menu-bar{
    background: linear-gradient(45deg, #8fbdd3, #53a1b8);
}

.nav-link{
    font-size: 16px;
    margin: 3px;
    color: #FFFFFF;
    font-weight: 500;
}
.nav-bar{
    text-align: right;
    margin-right: 20px;
}
.menu-bar .navbar-toggler{
    margin-right: 5px;
    outline: none!important;
    border: none!important;
}
.navbar .fa{
    color: #FFFFFF !important;
    font-size: 26px;
}
.nav-link:hover{
    font-weight: 50;
}
.navbar-brand{
    width: 150px;
    margin-top: 5px;
    margin-left: 10px;
    font-family: 'Satisfy', cursive;
}
@media only screen and (max-width: 1000px){
    .nav-link:hover{
        border-bottom: none!important;
    }
}
/* fin navbar */

/*OffCanvas*/
.container-offcanvas{
    text-align: end;
    
}
.titulo-ventas{
    display: flex;
    flex-direction: column;
    text-align: start;
    background-color: #bbe3f2a2;
}
.titulo-ventas a{
    text-decoration: none;
}
.offcanvas-header{
    background-color: #bbe3f2;
}
/*Fin Offcanvas*

/* inicio tracking */
#tracking{
    background-color: #c5e5f5;
    padding-bottom: 40vh;
}
    .card {
        z-index: 0;
        background-color: #eceff1;
        padding-bottom: 20px;
        margin-top: 90px;
        margin-bottom: 90px;
        border-radius: 10px;
    }

    .top {
        padding-top: 40px;
        padding-left: 13% !important;
        padding-right: 13% !important;
    }

    /* Icon progressbar */

    #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        color: #455a64;
        padding-left: 0;
        margin-top: 30px;
    }

    #progressbar li {
        list-style-type: none;
        font-size: 13px;
        width: 25%;
        float: left;
        position: relative;
        font-weight: 400;
    }

    #progressbar .step0::before {
        font-family: FontAwesome;
        content: '\f10c';
        color: #fff;
    }

    #progressbar li::before {
        width: 40px;
        height: 40px;
        line-height: 45px;
        display: block;
        font-size: 20px;
        background: #c5cae9;
        border-radius: 50%;
        margin: auto;
        padding: 0;
    }

    /* Progressbar connector */
    #progressbar li::after {
        content: '';
        width: 100%;
        height: 12px;
        background-color: #c5cae9;
        position: absolute;
        top: 16px;
        left: 0;
        z-index: -1;
    }

    #progressbar li:last-child::after {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        left: -50%;
    }

    #progressbar li:nth-child(2)::after,
    #progressbar li:nth-child(3)::after {
        left: -50%;
    }

    #progressbar li:first-child::after {
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        left: 50%;
    }

    /* Color number of the step and the connector before it */

    #progressbar li.active::before,
    #progressbar li.active::after {
        background-color: #651fff;
    }

    #progressbar li.active::before {
        font-family: FontAwesome;
        content: '\f00c';
    }

    .icon {
        width: 60px;
        height: 60px;
        margin-right: 15px;
    }

    .icon-content {
        padding-bottom: 20px;
    }
    .contenido-linea .fila-1 img{
        width: 5%;
        position: relative;
        
    }
    /* aaaaaaaaaaa */
    .progress-tracker {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .progress-tracker .step {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: 25%;
    }
    
    .progress-tracker .step:not(:last-child)::after {
        background-color: #ccc;
        content: "";
        height: 3px;
        position: absolute;
        top: 50%;
        width: 100%;
        z-index: -1;
    }
    
    .progress-tracker .step.active .step-number {
        background-color: #007bff;
        color: #fff;
        text-align: center;
        padding-top: 2px;
    }
    
    .progress-tracker .step.active .step-name {
        font-weight: bold;
    }
    
    .progress-tracker .step .step-number {
        background-color: #fff;
        border: 2px solid #007bff;
        border-radius: 50%;
        color: #007bff;
        display: block;
        height: 30px;
        margin-bottom: 10px;
        width: 30px;
        text-align: center;
        padding-top: 2px;
    }
    
    .progress-tracker .step .step-name {
        text-align: center;
    }
    /* Toggle Buttons */
    
    /* aaaaaaaaaaa */
    @media screen and (max-width: 992px) {
        .icon-content {
            width: 50%;
        }
    }
    /* fin tracking */



    /* purchase record */
    .card > img{
        width: 60%;
    }
/* fin purchase record */

/* INICIO CRUD USUARIO */
.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    margin: 30px 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {        
    padding-bottom: 15px;
    background: #4fc3f0;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 5px;
}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 2rem;
    font-family: 'Satisfy', cursive;
}
.table-title .btn-group {
    float: right;
}
.table-title .btn {
    color: #fff;
    float: right;
    font-size: 1.05rem;
    border: none;
    min-width: 50px;
    border-radius: 5px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}
.table-title .btn:hover {
    color: #0d5fca;
}
.table-title .btn i {
    float: left;
    font-size: 1.5rem;
    margin-right: 5px;
}
.table-title .btn span {
    float: left;
    margin-top: 2px;
    font-family: 'Satisfy', cursive;
    font-size: 1.3em;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
    font-size: 1rem;
}
table.table tr th:first-child {
    width: 60px;
}
table.table tr th:last-child {
    width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #c5efff;
}
table.table-striped.table-hover tbody tr:hover {
    background: #ace4fa;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}	
table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}
table.table td a {
    font-weight: bold;
    color: #6494ec;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
}
table.table td a:hover {
    color: #2384f4;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #F44336;
}
table.table td i {
    font-size: 19px;
}
table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}
.crud-imagen{
    height: 50px;
    margin: 0px 10px 0px 30px;
    mix-blend-mode: darken;
}
/* Custom checkbox */
.custom-checkbox {
    position: relative;
}
.custom-checkbox input[type="checkbox"] {    
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9;
}
.custom-checkbox label:before{
    width: 18px;
    height: 18px;
}
.custom-checkbox label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background: white;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: inherit;
    z-index: 3;
    transform: rotateZ(45deg);
}
.custom-checkbox input[type="checkbox"]:checked + label:before {
    border-color: #03A9F4;
    background: #03A9F4;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
    border-color: #fff;
}
.custom-checkbox input[type="checkbox"]:disabled + label:before {
    color: #b8b8b8;
    cursor: auto;
    box-shadow: none;
    background: #ddd;
}

/* FIN CRUD USUARIO */


/* MEDIA QUERIES */
@media (max-width: 855px) {
    .table-title{
        display: block;
        width: 100%;
        padding: 0.5rem;
        margin: 0px 0px 5px 0px;
    }
    table {
        width: 100%;
    }
    table thead {
        display: none;
    }
    table tbody td {
        display: block;
        padding: 0.5rem;
        text-align: start;
        border-bottom: 1px solid #ddd;
    }
    table tbody td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
    table tbody td:last-child {
        border-bottom: 0;
    }
  }

/*Suscripcion*/
#footer{
    background-color: #239bd743;
  }
  .suscripcion .suscipcion-titulo{
    display: flex;
    padding: 100px 50px 100px 50px;
    justify-content: center;
    font-size: 40px;
    text-align: center;
    }
  .suscripcion .row{
    display: flex;
    justify-content: center;
  }
  .terminos{
    display: flex;
    justify-content: center;
  }
  
  .suscripcion-btn{
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
  }
  .form-check .terminos-desc{
    font-size: 12px;
  }
  @media screen and (max-width: 600px) {
    .suscripcion{
        margin-left: 20px;
        margin-right: 20px;
    }
  }
  @media screen and (max-width: 992px) {
  .suscripcion{
    margin-left: 20px;
    margin-right: 20px;
  }
  }